{% extends "layout.html" %}
{% load static %}
{% block main %}

    <main class="main__content_wrapper">
        
        <!-- Start error section -->
        <section class="error__section section--padding">
            <div class="container">
                <div class="row row-cols-1">
                    <div class="col">
                        <div class="error__content text-center">
                            <h2 class="error__content--title">Opps ! We are Not Found This Page </h2>
                            <p class="error__content--desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi animi aliquid minima assumenda.</p>
                            <a class="error__content--btn primary__btn" href="{% url 'info:home' %}">Back To Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End error section -->



    </main>

{% endblock main %}